.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon.prev,
.icon.next {
  position: absolute;
  top: 45%;
  color: #000000;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 50%;
}

.icon.prev {
  left: -40px;
}

.icon.next {
  right: -40px;
}

.icon.close {
  position: fixed;
  top: 1%;
  right: 1%;
  color: #000000;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 50%;
}

.icon:hover {
  background: #000000;
  color: #FFFFFF;
}

.MuiDialog-container>.MuiDialog-paper {
  overflow-y: unset;
}

.image-container {
  position: static;
}

@media only screen and (max-width: 899px) {

  .MuiDialogContent-root {
    width: unset !important;
  }

  .MuiDialog-container img {
    height: unset !important;
    max-height: 50vh !important;
  }

  .MuiDialogContent-root {
    overflow: auto !important;
  }

  .icon.prev,
  .icon.next {
    top: 45%;
    color: #ffffff;
    background: #000000;
    border-radius: 50%;
  }

  .icon.prev {
    left: 0px;
  }

  .icon.next {
    right: 0px;
  }

  .icon.close {
    top: 0;
    right: unset;
    left: 0;
    background: none;
    padding: 2px;
    font-size: 1.75em;
  }

  .image-container {
    margin-top: 20px;
    position: relative;
  }

  .comments {
    height: unset !important;
    padding-top: 0px !important;
  }

}